/*初始化*/
body,ul,li,span,a{ margin:0; padding:0;}
a{ text-decoration:none;}
li{ list-style:none;}
.clearfix{ *zoom:1;}
.clearfix:after{ content:"."; display:block; visibility:hidden; height:0; font-size:0; clear:both;}
body{ background:#cc7a52;}
.box{ width:1020px; height:auto; margin:0 auto;}
.box-left{ float:left; position:relative; width:155px; height:auto;}
.arrow{ position:absolute; font-size:26px; height:26px; line-height:26px; left:65px; top:38px;}
.black,.white{ display:block; width:30px; height:30px; border-radius:50%; box-shadow:2px 2px 6px #000;}
.black{ 
    background: -webkit-radial-gradient(#fff 0%,#000 60%); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(#fff 0%,#000 60%); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(#fff 0%,#000 60%); /* Firefox 3.6 - 15 */
    background: radial-gradient(#fff 0%,#000 60%); /* 标准的语法 */
}
.white{
    background: -webkit-radial-gradient(#000 -100%,#fff 60%); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(#000 -100%,#fff 60%); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(#000 -100%,#fff 60%); /* Firefox 3.6 - 15 */
    background: radial-gradient(#000 -100%,#fff 60%); /* 标准的语法 */
}
.box-person{ padding-top:8px;}
.box-person li{ height:55px; padding:25px 0 0 115px;}
.box-btn{ display:block; width:80px; text-align:center; line-height:30px; color:#fff; font-size:14px; height:30px; border-radius:8px; background:#000; margin:45px 0 0 75px;}
.box-right{ float:right; position:relative; width:800px; height:auto; margin-top:32px; padding: 3px 0 0 3px;}
.box-right li{ float: left; width: 37px; height: 37px; border: #000 3px double; margin:-3px 0 0 -3px; }
.box-right .black,.white{ position: absolute; }
